<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/yasar/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/yasar/publications">Publications</a></li>
		        	<li><a href="/yasar/awards">Awards</a></li>
	        		<li><a href="/yasar/experience">Professional Experience</a></li>
	        		<li><a href="/yasar/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:yasar@tcl.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
